extend layout

block content
	div.home-wrapper
		div.head-wrap.container-fluid
			h1.title= title
			p
				a.btn.signin(href="/login/") Sign In		
		div.signup-wrap.container-fluid
			h2.see See what's next.
			h3.see Entertainment, everywhere	
			a.btn.signup(href="/signup/") Join Free for a Month
		
				