body {
	position: relative;
  background-color: black;
  background-image: 
  padding: 
  font:;
}
.home-wrapper{
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
h1.title{
  text-align: center;
  color: red;
  font-kerning: auto;
  float: left;
}
h1.signup_hd_txt, h1.login_hd_txt{
	text-align: center;
 	color: red;
}
a.btn.signin{
	float: right;
	background-color: red;
	color: white;
}
.see{
	color: white;
}
.signup-wrap{

	padding-top: 100px;

}
.signup{
	background-color: red;
	color: white;
}

/* Sign up form labesl*/
.sp_label,.si_label{
	color: white;
	font-size: 15px;
}
.sp_box, .si_box{
	width: 250px;
	margin-left: 
}
.login-form{
	padding-top:

}
  #section1 {padding-top:50px;height:400px;color: #fff; background-color: #1E88E5;}
  #section2 {padding-top:50px;height:400px;color: #fff; background-color: #ff9800;}
  #section3 {padding-top:50px;height:400px;color: #fff; background-color: #00bcd4;}
  #section41 {padding-top:50px;height:400px;color: #fff; background-color: #673ab7;}
  #section42 {padding-top:50px;height:400px;color: #fff; background-color: #009688;}
h3{
	color: white;
	font-size: 15px;
}
/*-------------------------------------------------------------------*/
